@import "tailwindcss";


.customInput {
  padding-top: 1.25rem;
}

.customInput .form-control {
  height: 44px;
  border: 1px solid #D0D5DD;
  font-size: 14px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 16px;
}

.customInput .form-control:active,
.customInput .form-control:focus,
.customInput .form-control:focus-visible,
.customInput .form-control:focus-within {
  box-shadow: none !important;
  outline: 0 !important;
  border-color: #155eef !important;
}

.customInput .form-control.inputError {
  border-color: red !important;
  background-color: rgba(red, 0.01);
}

.customInput .form-control.inputError::placeholder {
  color: red !important;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
}

.errorText {
  color: red;
  font-size: 12px;
  text-align: left !important;
  margin-top: 3px;
}

.commonBtn {
  background-color: #2B04A6;
  border: 1px solid #2B04A6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding-inline: 16px;
  white-space: nowrap;
  gap: 10px;
  cursor: pointer;
  /* &.sm {
    height: 36px;
    font-size: 14px;
  } */
}

.loaderComp {
  width: 60px;
  aspect-ratio: 4;
  /* --c:#fff 90%,#0000; */
  background: 
    radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
    radial-gradient(circle closest-side                     ,var(--c)),
    radial-gradient(circle closest-side at right 6px top 50%,var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to{width:25px;aspect-ratio: 1}
}

.chatScrollDiv {
  /* background-image: url('https://t3.ftcdn.net/jpg/01/99/79/88/360_F_199798806_PAFfWGapie6Mk8igqKHbhIIa9LwQcvQr.jpg'); */
}

.callloader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#8e8e8e 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}